html,
body {
  padding: 0;
  margin: 0;
 
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.homeslider .slick-slide.slick-current {
  transform: scale(1);
  transition: 250ms transform;
  transition-delay: 500ms;
}

.homeslider .slick-slide {
  transform: scale(0.95);
  transition: 250ms transform;
  transition-delay: 500ms;
}

.homespecial .slick-slide {
  transform: scale(0.95);
}
.loader {
  top: 0;
  z-index: 1000000;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.imageLoader {
  animation: rotation 1s infinite linear;
}